@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f7fa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bento-box {
  @apply bg-white p-4 shadow-sm border-l-4 border-l-blue-600 rounded-sm;
  min-height: 120px;
}
